* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
body {
    background: linear-gradient(180deg,#90a955 0% , #31572c 100%);
    min-height: 100vh;
}
.sidebar{
    display: flex;
    width: 20vw;
    min-height: 100vh;
}
.bar {
    text-align: center;
    border-radius: 10px;
    position: fixed;
    background: #f1ffcf;
    width: 20vw;
    min-height: 100vh;
    
}
.sidebar .bakso {
    margin-left: 15px;
    font-size: 8pt;
    background-color: #90a955;
    border-radius: 20px;
    width: 90%;
    height: 50px;
    align-items: center;
    text-align: center;
}
.menu {
    width: 90%;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.26);
    list-style: none;
}
.menu ul li {
    display: block;
    color : #90a955;
    text-decoration: none;
    font-size: 16pt;
    margin: 35;
}
.topbar {
    
    position: fixed;
    right: 10;
    top: 0;
    align-items: center;
    width: 75vw;
    height: 20vh;
    background-color: transparent;
}
.topbar .top {
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    width: 75vw;
    height: 15vh;
    background: #ecf39e;
}
.top .nav {
    margin-left: 15px;
    align-items: center;
    display: flex;
    text-align: center;
}
.nav button{
    margin-right: 50%;
    margin-left: 5px;
}
.content {
    border-radius: 10px;
    position: absolute;
    width: 75vw;
    height: 70vh;
    background-color: #90a955;
    right: 10px;
    top: 20vh;
}